* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  border-color: #5d5d5d;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  border: 2em solid black;
  box-sizing: border-box;
  color: #c5c5c5;
}


/* -- Image input & output -- */
.io {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2em;
}

.io > div {
  width: 25%;
  padding: 1em;
  border-radius: 0.5em;
}


/* -- Operation buttons -- */
.operations {
  position: fixed;
  bottom: 2em;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.operations > button {
  width: 10em;
  height: 4em;
  border-radius: 0.5em;
  background: rgba(22, 73, 86, 0.57);
  outline: none;
  border: 2px solid #8476bb;
  font-size: 1em;
  color: white;
  margin: 0em 1em;
  cursor: pointer;

  transition: all 100ms;
}
.operations > button:hover {
  background: rgba(51, 140, 162, 0.57);
}
.operations > button:active {
  background: rgba(51, 140, 162, 0.57);
  transform: translateY(3px);
}
