* {
  /*font-family: 'Montserrat', sans-serif; */
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

a {
  color: #83cbff;
    display: block;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
      border: 2em solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}


/* -- Image input & output -- */
.io {
  position: fixed;
display: flex;
top: 0;
left: 0;
  justify-content: space-between;
  width: 100%;
  padding-top: 2em;
}

.io > div {
  width: 25%;
  border-radius: 0.5em;
  text-align: center;
}
.input {
  text-align: left;
}
.output {
  text-align: right;
}


/* -- Operation buttons -- */
.operations {
  position: fixed;
  bottom: 2em;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.operations > button {
  width: 10em;
  height: 3em;
  border-radius: 0.3em;
  outline: none;
  border: none;
  font-size: 1em;
  color: white;
  margin: 0em 1em;
  cursor: pointer;
  transition: all 100ms;
  background: linear-gradient(rgba(0, 133, 255, 0.55), rgba(84, 84, 222, 0.42));
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}
.operations > button:hover {
  filter: brightness(150%);
}
.operations > button:active {
  filter: brightness(150%);
  transform: translateY(3px);
}
